

<div class="navbar navbar-fixed navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <i class="navbar-icon fa fa-bars icon"></i>
            </a>
            <a class="navbar-brand" href="/skyspod/index.php/ru/process/user/organization_id/22">Tutorial Site</a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav" id="top-menu" role="menu">
                <li class="dropdown" role="menuitem">
                    <a class="hidden-xs hidden-sm dropdown-toggle" data-toggle="dropdown" href="">Our Service 
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="yt0" aria-labelledby="yt0" role="menu">
                        <li role="menuitem">
                            <a tabindex="-1" href="/skyspod/index.php/ru/process/use/process_id/8">Web Development</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" role="menuitem">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Product
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="yt1" aria-labelledby="yt1" role="menu">
                        <li class="active" role="menuitem">
                            <a tabindex="-1" href="/skyspod/index.php/ru/process/use/process_id/24/viewdef_id/61/user_id/33">Examination Portal</a>
                        </li>
                        <li role="menuitem">
                            <a tabindex="-1" href="/skyspod/index.php/ru/process/use/process_id/24/viewdef_id/68/user_id/33">Shopping Site</a>
                        </li>
                       
                        <li class="divider"></li>
                        <li role="menuitem">
                            <a tabindex="-1" href="/skyspod/index.php/ru/objectref/trash/process_id/24/user_id/33">
                                <span class="glyphicon glyphicon-trash"></span> University
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="user-menu-container">
                <ul class="nav navbar-nav navbar-right" id="user-menu" role="menu">
                     <li class="dropdown" role="menuitem">
                        <a class="dropdown-toggle" > 
                                 {{globals.lang | uppercase}}
                        </a>
                      </li>
                    <li class="dropdown" role="menuitem">
                        <a class="dropdown-toggle" data-toggle="dropdown" href=""> Signup/Login
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="yt2" aria-labelledby="yt2" role="menu">
                            <li role="menuitem">
                                <a tabindex="-1" href="/skyspod/index.php/ru/user/use/user_id/33">Login</a>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a tabindex="-1" href="/skyspod/index.php/ru/process/view/process_id/24">SingUp</a>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a tabindex="-1" href="/skyspod/index.php/ru/process/use/process_id/24/user_id/9">
                                    <span class="glyphicon glyphicon-user"></span> Admin
                                </a>
                            </li>
                            <li role="menuitem">
                                <a tabindex="-1" href="/skyspod/index.php/ru/process/use/process_id/24/user_id/33">
                                    <span class="glyphicon glyphicon-user"></span> Client
                                </a>
                            </li>
                            
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a tabindex="-1" (click) = "changeLanguage('hindi')">Hindi</a>
                            </li>
                            <li role="menuitem">
                                <a tabindex="-1" (click) = "changeLanguage('eng')" >English</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- navbar-collapse -->
    </div>
    <!-- container-fluid -->
</div>