<div class="article">
<div class = "referece">
<h3> CLI Command Reference </h3>
<p> The Angular CLI is a command-line interface tool that you use to initialize, develop, scaffold, and maintain Angular applications. You can use the tool directly in a command shell, or indirectly through an interactive UI such as Angular Console. </p>

<h3>Installing Angular CLI </h3>
<p> Major versions of Angular CLI follow the supported major version of Angular, but minor versions can be released separately. </p>

Install the CLI using the npm package manager:
<div class="command  command_code bg-black">
	
	<p> npm install -g @angular/cli </p>
</div>
For details about changes between versions, and information about updating from previous releases, see the Releases tab on GitHub: https://github.com/angular/angular-cli/releases

<h3> Basic workflow </h3>
<p> Invoke the tool on the command line through the ng executable. Online help is available on the command line. Enter the following to list commands or options for a given command (such as generate) with a short description. </p>
<div class="command command_code  bg-black">
	<p>ng help </p>
	<p>ng generate --help </p>
</div>
<p> To create, build, and serve a new, basic Angular project on a development server, go to the parent directory of your new workspace use the following commands: </p>
<div class="command command_code  bg-black">
	<p>	ng new my-first-project	</p>
	<p> cd my-first-project </p>
	<p> ng serve </p>
</div>
<p>In your browser, open http://localhost:4200/ to see the new app run. When you use the ng serve command to build an app and serve it locally, the server automatically rebuilds the app and reloads the page when you change any of the source files.</p>

<h3> Create Component </h3>
<div class="command command_code  bg-black">
	<p> ng generate module [name] </p>
	<p> ng g m [name] </p>
	
</div>
<p>Create Module in seprate file</p>
</div>

</div>