
<div [hidden] = "globals.lang != 'hindi' ">
	<p>
	 भारत में एक ही परिवार में भी अक्सर आय के स्तर में काफी अंतर होता है। ऐसे में क्या इस योजना का लाभ उन्हें भी मिल पाएगा? भारत में किसी भी जन केन्द्रित योजना को ज़मीन पर लागू करने में विफलता की मुख्य वजह भ्रष्टाचार होती है जैसे कि किसानों की कर्ज़ माफी के बीच भी ऐसी खबरें मिल जाती हैं कि मंडी के दलालों के कारण किसानों को उचित मूल्य नहीं मिल पा रहे हैं। ऐसे में सरकार ऐसी क्या व्यवस्था बनाएगी जिससे योजना का लाभ बिना पक्षपात के वास्तविक ज़रूरतमंदों तक पहुंच सके?
	</p>
</div>


<div [hidden] = "globals.lang != 'eng' ">
	<div class="quiz_section">
		  <div class="heading">
			<h2 class=""> Decoration </h2>
		 </div>
			 <div class="answer_div">
				 <span>  Decartion are design pattern that is used to seprate modification without modifying
				base class,
				 in AngularJs , decoration are functions those allows a service, directive or filter to be modified prior to its usage.
				</span>
				<p> ExamPle: module</p>
			</div>	
		</div>	
</div>


